<%- include('./partials/site-head') -%>

<body>
  <header>
    <%- include('./partials/dino') -%>
    <h1>Success!</h1>
  </header>
  <main>
    <p>Your blog as been created and can be viewed <a href="http://<%= subdomain %>.dinoblog.net">here</a>!</p>

    <p>The password to edit your content is '<%= password %>'. <b>Don't lose it!</b></p>

    <p>Your site content can be updated at this URL: <a href="<%= subdomain %>/_edit"><%= subdomain %>.dinoblog.net/_edit</a>. To edit a blog post, simply navigate to the post you wish to edit and append '/_edit' to the URL.</p>
  </main>
</body>

<%- include('./partials/site-footer') -%>
