<%- include('../partials/site-head') -%>

<body>
  <%- include('../partials/blog-header') -%>

  <main>
    <h2>Blog posts</h2>
    <% if (posts && posts.length) { %>
      <ul>
        <% posts.forEach(function (post) { %>
          <li>
            <a href="/blog/<%= post.slug %>">
              <%= post.title %>
            </a>
          </li>
        <% }) %>
      </ul>
    <% } else { %>
      <p>
        No posts
      </p>
    <% } %>
  </main>
</body>

<%- include('../partials/site-footer') -%>
