<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>dinoblog</title>
</head>
<body>
  <header>
    <h1>Edit</h1>
    <%- include('../partials/blog-nav') -%>
  </header>

  <main>
    <a href="/_new">Add a new post</a>

    <form action="/_edit" method="POST" id="edit-blog-form">
      <label>
        Title
        <input
          name="title"
          value="<%= title %>"
          type="text"
          required
        >
      </label>
      <br>

      <label>
        Author
        <input
          name="author"
          value="<%= author %>"
          type="text"
          required
        >
      </label>
      <br>

      <label>
        Email
        <input
          name="email"
          value="<%= email %>"
          type="email"
          required
        >
      </label>
      <br>

      <label>
        Description
        <textarea name="description" form="edit-blog-form"><%= description %></textarea>
      </label>
      <br>

      <label>
        Password
        <input
          name="password"
          type="password"
          required
        >
      </label>
      <br>

      <button type="submit">Publish</button>
    </form>
  </main>
</body>
</html>
