<%- include('../partials/site-head') -%>

<body>
  <header>
    <h1>Edit</h1>
    <%- include('../partials/blog-nav') -%>
  </header>

  <main>
    <a href="/_new">Add a new post</a>

    <form action="/_edit" method="POST" id="edit-blog-form">
      <label>
        Title
        <br>
        <input
          name="title"
          value="<%= title %>"
          type="text"
          required
        >
      </label>
      <br>

      <label>
        Author
        <br>
        <input
          name="author"
          value="<%= author %>"
          type="text"
          required
        >
      </label>
      <br>

      <label>
        Email
        <br>
        <input
          name="email"
          value="<%= email %>"
          type="email"
          required
        >
      </label>
      <br>

      <label>
        Front-page content (markdown)
        <br>
        <textarea name="description" form="edit-blog-form"><%= description %></textarea>
      </label>
      <br>

      <label>
        Password
        <br>
        <input
          name="password"
          type="password"
          required
        >
      </label>
      <br>

      <button type="submit">Publish</button>
    </form>
  </main>
</body>

<%- include('../partials/site-footer') -%>
