<%- include('../partials/site-head') -%>

<body>
  <%- include('../partials/blog-header') -%>

  <main>
    <h2><%= title %></h2>
    <p><%= content %></p>
  </main>
</body>

<%- include('../partials/site-footer') -%>
