<%- include('../partials/site-head') -%>

<body>
  <header>
    <h1>Edit</h1>
    <%- include('../partials/blog-nav') -%>
  </header>

  <main>
    <form action="" method="POST" id="edit-post-form">
      <label>
        Title
        <br>
        <input
          name="title"
          value="<%= title %>"
          type="text"
          required
        >
      </label>
      <br>

      <label>
        Slug
        <br>
        <input
          name="slug"
          value="<%= slug %>"
          type="text"
          required
        >
      </label>
      <br>

      <label>
        Content
        <br>
        <textarea name="content" form="edit-post-form"><%= content %></textarea>
      </label>
      <br>

      <label>
        Password
        <br>
        <input
          name="password"
          type="password"
          required
        >
      </label>
      <br>

      <button type="submit">Save</button>
    </form>
  </main>
</body>

<%- include('../partials/site-footer') -%>
